.venv/
venv/
data/raw/
data/processed/
notebooks/
tests/
scripts/
reports/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.git/
.gitignore
.dockerignore
.env
*.md
Dockerfile
docker-compose.yml
